{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <h1>{% trans "Forgotten your password?" %}</h1>
    <p>{% trans "Enter your e-mail address to obtain a new password" %}</p>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <p>{{ field.label_tag }} {{ field|add_class:"form-field" }}</p>
        {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}

        <p>
            <input type="submit" class="button" value="{% trans 'Send e-mail' %}" style="margin-left: auto; margin-right: auto; margin-top: 51px;">
        </p>
    </form>
</div>
{% endblock %}

