{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <h1>{% trans "Change your password" %}</h1>

    <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
        <p>{{ field.label_tag }} {{ field|add_class:"form-field" }}</p>
        {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}

        <p><input type="submit" class="button" value="{% trans 'Change' %}" style="margin-top: 51px; margin-left: auto; margin-right: auto"></p>
    </form>
</div>
{% endblock %}
