{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1 style="margin-bottom: 51px;">{% trans "Sign-up" %}</h1>

    <div class="register-form">
        <form method="post">
            {% csrf_token %}

             {% if user_form.errors %}
                <div>
                    {% for field, errors in user_form.errors.items %}
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in user_form %}
            <p>{{ field.label_tag }} {{ field }}</p>
            {% endfor %}

            <p>
                <input type="submit" class="button"
                       style="margin-left: auto; margin-right: auto; margin-top: 51px; margin-bottom: 16px"
                       value="{% trans 'Register Button' %}">
            </p>
        </form>

        <p>
            <a href="{% url 'login' %}" class="button white"
               style="margin-left: auto; margin-right: auto; margin-bottom: 16px">
                {% trans "Log-in Button" %}
            </a>
        </p>
    </div>
</div>
{% endblock %}
